/* TEXT-OPINION */

.text-opinion {
  resize: none;
  height: 190px;
  padding: 15px 20px;
  border: 1px solid #888888;
  box-sizing: border-box;

  font-family: sans-serif;
}

.text-opinion:hover {
  border: 1px solid #000000;
}

.text-opinion:focus {
  border: 1px solid #000000;
  outline: 0;
}

.text-opinion::placeholder {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}