body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.ads {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #F0F0F0;
    box-sizing: border-box;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}