body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* .wrapper {
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #F8FAFE;
} */


/* Global */

.first-word {
    color: #FF5722;
}

.text-bold {
    font-weight: 700;
}

.input[type="radio"] {
    display: none;
}

/* CONTENT */

.content {
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #F2F2F2;
}

.header__title {
    margin: 18px 0 9px;

    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.header__count-heart {
    position: absolute;
    top: 0;
    right: 0;

    padding: 3px 5px;
    background-color: #F36223;
    color: #FFFFFF;
    border-radius: 50%;

    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.header__count-cart {
    position: absolute;
    top: 0;
    right: 0;

    padding: 3px 5px;
    background-color: #F36223;
    color: #FFFFFF;
    border-radius: 50%;

    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

/* HIDE */

.hide {
    display: none;
}

/* HEADER-WRAPPER */

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* HEADER-LOGO */

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

/* HEADER-PANEL */

.header-panel {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-self: flex-end;
}

/* HEADER-ICON */

.header-icon {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

/* BREADCRUMBS */

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 98px 0px 8px 0px;
    gap: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/* .content__breadcrumbs {
    margin-top: 90px;
} */

/* MAIN */

.main__product-name {
    margin: 0 0 10px;
}

.main__product-images {
    margin-bottom: 30px;
}

/* PRODUCT-NAME */

.product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

/* PRODUCT-IMAGES */

.product-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.product-images__image {
    height: 387px;
}

/* PRODUCT-CARD */

.product-card {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/* PRODUCT-INFORMATION */

.product-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-information__title-characteristic {
    margin: 0 0 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.product-information__review-section {
    margin: 20px 0 30px 0;
}

/* PRODUCT COLOR */

.product-color__list {
    display: flex;
    gap: 10px;
}

.product-color__square-image {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 10px 0;
    box-sizing: border-box;
    border: 1px solid #888888;
    border-radius: 4px;

    background-color: transparent;
}

.product-color__square-image:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

/* .product-color__square-image_selected {
    border: 2px solid #F36223;
} */

.product-color__square-image:active {
    border: 2px solid #A93A09;
    background-color: transparent;
}

.product-color__list .input[type="radio"]:checked+label {
    border: 2px solid #F36223;
}

/* MEMORY */

.memory__cards {
    display: flex;
    gap: 10px;
}

.memory__cards .input[type="radio"]:checked+label {
    border: 2px solid #F36223;
    padding: 9px 19px;
}

/* BUTTON */

.button {
    box-sizing: border-box;
    height: 39px;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    align-self: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
}

.button:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.button:active {
    border: 2px solid #A93A09;
    background-color: transparent;
    padding: 9px 19px;
}

/* .button_selected {
    border: 2px solid #F36223;
} */

/* CHARACTERISTIC */

.characteristic__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style-position: inside;
    margin: 0;
}

.characteristic__point {
    display: flex;
    align-items: center;
    gap: 10px;

    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.characteristic__point::before {
    content: '';
    display: block;
    background-color: #888888;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* DESCRIPTION */

.description__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description__text-paragraph {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/* TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table__row {
    border: 1px solid #888888;
}

.table__row:hover {
    background-color: #F2F2F2;
}

.table__column {
    border: 1px solid #888888;
    padding: 10px;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* PURCHASE */

.purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
}

.purchase__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.purchase__old-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.purchase__old-price-value {
    text-decoration-line: line-through;
    color: #888888;
}

.purchase__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;

    background: #F36223;
    border-radius: 500px;
    box-sizing: border-box;
}

.purchase__discount-value {
    color: #ffffff;
}

.purchase__new-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.purchase__heart {
    fill: #888888;
    cursor: pointer;
}

.purchase__heart:hover {
    fill: #F36223;
}

.purchase__heart:active {
    fill: #A93A09;
}

.purchase__delivery {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    gap: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.purchase__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 15px;

    border: 0;
    background: #F36223;
    border-radius: 4px;


    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.purchase__button::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(./cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.purchase__button:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

.purchase__button:active {
    background: #A93A09;
}

/* PURCHASE-HEADER */

.purchase-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

/* ADS */

.ads {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ads__signature {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.ads__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

/* IFRAME */

.iframe {
    height: 300px;
    width: 100%;
    border: 1px dashed #888888;
    box-sizing: border-box;
}

/* REVIEW-SECTION */

.review-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-section__wrapper {
    display: flex;
    gap: 10px;
}

.review-section__title {
    margin: 0;

    font-weight: 700;
    font-size: 24px;
}

.review-section__count {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
}

.review-section__separator {
    margin-left: 170px;
}

/* REWIEW */

.review {
    display: flex;
    gap: 30px;
}

.review__photo {
    width: 140px;
    height: 140px;
}

.review__name {
    margin: 0;

    font-weight: 700;
    font-size: 20px;
}

.review__rating {
    margin-top: 10px;
    display: flex;
}

.review__parameter-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review__parameter {
    font-weight: 400;
    font-size: 14px;
}

.review__paragraph {
    margin: 0;
}

/* Разделитель */

.separator {
    border-top: 1px dashed #888888;
}

/* ADD-OPINION */

.add-opinion {
    padding-left: 170px;
    box-sizing: border-box;
}

.add-opinion__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.add-opinion__name {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.add-opinion__rating {
    position: relative;
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* BASIC-FORM */

.basic-form {
    display: flex;
    gap: 40px;
    justify-content: start;
}

/* INPUT-NAME */

.input-name {
    padding: 15px 20px;
    border: 1px solid #888888;
    flex-grow: 1;
}

.input-name:hover {
    border: 1px solid #000000;
}

.input-name:focus {
    border: 1px solid #000000;
    outline: 0;
}

.input-name::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

/* INPUT-RATING */

.input-rating {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 175px;
    padding: 15px 20px;
}

/* .input-rating_visiable {
    border: 1px solid #DA4A0C;
} */

.input-rating:hover {
    border: 1px solid #000000;
}

.input-rating:focus {
    border: 1px solid #000000;
    outline: 0;
}

.input-rating::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

/* INPUT-ERROR */

.input-error {
    border: 1px solid #DA4A0C;
}

/* TEXT-OPINION */

.text-opinion {
    resize: none;
    height: 190px;
    padding: 15px 20px;
    border: 1px solid #888888;
    box-sizing: border-box;

    font-family: sans-serif;
}

.text-opinion:hover {
    border: 1px solid #000000;
}

.text-opinion:focus {
    border: 1px solid #000000;
    outline: 0;
}

.text-opinion::placeholder {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.button-opinion {
    padding: 10px 20px;
    background: #F36223;
    border-radius: 4px;
    border: 0;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.button-opinion:hover {
    background: #DA4A0C;
    cursor: pointer;
}

.button-opinion:active {
    background: #A93A09;
}

/* FOOTER */

.footer {
    background: #F2F2F2;
}

.footer_indent-top {
    margin-top: 100px;
}

/* FOOTER-WRAPPER */

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* CONTACTS */

.contacts {
    padding: 30px 0;
}

.contacts__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.contacts__text {
    margin: 0;
}


/* Ошибки в формах */

.error {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    padding: 8px 20px;
    background: #DA4A0C;

    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.error_visiable {
    display: block;
}

/* Дизайн ссылок */

.link {
    text-decoration: none;
    color: #008CF0;
}

.link:hover {
    color: #F36223;
    cursor: pointer;
}

.link:active {
    color: #A93A09;
}

@media (max-width: 1499px) {
    .content {
        max-width: 994px;
    }

    .product-images__image {
        height: 272px;
    }

    .product-card {
        gap: 40px;
    }

    .product-information__review-section {
        margin: 14px 0 30px 0;
    }

    .purchase {
        width: 360px;
    }

    .models {
        display: none;
    }

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .star {
        width: 20px;
        height: 20px;
    }

    .add-opinion {
        padding: 0;
    }
}