.review {
  display: flex;
  gap: 30px;
}

.review__photo {
  width: 140px;
  height: 140px;
}

.review__name {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
}

.review__rating {
  margin-top: 10px;
  display: flex;
}

.review__parameter-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review__parameter {
  font-weight: 400;
  font-size: 14px;
}

.review__paragraph {
  margin: 0;
}

/* Разделитель */

.separator {
  border-top: 1px dashed #888888;
}