.config-button {
  box-sizing: border-box;
  height: 39px;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  align-self: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
}

.config-button:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.config-button:active {
  border: 2px solid #A93A09;
  background-color: transparent;
  padding: 9px 19px;
}

.config-button_selected {
  border: 2px solid #F36223;
  padding: 9px 19px;
}