.color-button {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 4px;

  background-color: transparent;
}

.color-button:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.color-button_selected {
  border: 2px solid #F36223;
}

.color-button:active {
  border: 2px solid #A93A09;
  background-color: transparent;
}