.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* PURCHASE */

.purchase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 420px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.purchase__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.purchase__old-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.purchase__old-price-value {
  text-decoration-line: line-through;
  color: #888888;
}

.purchase__discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;

  background: #F36223;
  border-radius: 500px;
  box-sizing: border-box;
}

.purchase__discount-value {
  color: #ffffff;
}

.purchase__new-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.purchase__favorites {
  background: none;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.purchase__heart {
  width: 30px;
  height: 30px;
}

.purchase__heart-path {
  fill: #888888;
}

.purchase__heart:hover .purchase__heart-path {
  fill: #F36223;
}

.purchase__heart:active .purchase__heart-path {
  fill: #A93A09;
}

.purchase__heart-active {
  width: 30px;
  height: 30px;
}

.purchase__heart-active .purchase__heart-path {
  fill: #F36223;
}

.purchase__heart-active .purchase__heart-fill {
  stroke: #F36223;
  stroke-width: 13px;
}

.purchase__delivery {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
  gap: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.purchase-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 15px;

  border: 0;
  background: #F36223;
  border-radius: 4px;


  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.purchase-button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.purchase-button:hover {
  background-color: #DA4A0C;
  cursor: pointer;
}

.purchase-button:active {
  background: #A93A09;
}

.purchase-button_added {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 15px;

  border: 0;
  background: #888888;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.purchase-button_added::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* PURCHASE-HEADER */

.purchase-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

/* ADS */

.ads {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ads__signature {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.ads__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

/* IFRAME */

.iframe {
  height: 300px;
  width: 100%;
  border: 1px dashed #888888;
  box-sizing: border-box;
}