/* CONTENT */

.content {
  max-width: 1400px;
  margin: 0 auto;
}

/* Global */

.first-word {
  color: #FF5722;
}

.text-bold {
  font-weight: 700;
}

.input[type="radio"] {
  display: none;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #F2F2F2;
}

.header__title {
  margin: 18px 0 9px;

  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}

.header__count-heart,
.header__count-cart {
  position: absolute;
  top: 0;
  right: 0;

  padding: 3px 6px;
  background-color: #F36223;
  color: #FFFFFF;
  border-radius: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

/* HIDE */

.hide {
  display: none;
}

/* HEADER-WRAPPER */

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* HEADER-LOGO */

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

/* HEADER-PANEL */

.header-panel {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  align-self: flex-end;
}

/* HEADER-ICON */

.header-icon {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

/* BREADCRUMBS */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 98px 0px 8px 0px;
  gap: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* .content__breadcrumbs {
    margin-top: 90px;
} */

/* MAIN */

.main {
  padding-bottom: 100px;
}

.main__product-name {
  margin: 0 0 10px;
}

.main__product-images {
  margin-bottom: 30px;
}

/* PRODUCT-NAME */

.product-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* PRODUCT-IMAGES */

.product-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.product-images__image {
  height: 387px;
}

/* PRODUCT-CARD */

.product-card {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

/* PRODUCT-INFORMATION */

.product-information {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product-information__title-characteristic {
  margin: 0 0 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.product-information__review-section {
  margin: 20px 0 30px 0;
}

/* PRODUCT COLOR */


/* .product-color__list .input[type="radio"]:checked+label {
  border: 2px solid #F36223;
} */

/* MEMORY */

/* .memory__cards .input[type="radio"]:checked+label {
  border: 2px solid #F36223;
  padding: 9px 19px;
} */

/* CHARACTERISTIC */

.characteristic__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style-position: inside;
  margin: 0;
}

.characteristic__point {
  display: flex;
  align-items: center;
  gap: 10px;

  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.characteristic__point::before {
  content: '';
  display: block;
  background-color: #888888;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* DESCRIPTION */

.description__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description__text-paragraph {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* TABLE */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border: 1px solid #888888;
}

.table__row:hover {
  background-color: #F2F2F2;
}

.table__column {
  border: 1px solid #888888;
  padding: 10px;
}

/* SIDEBAR */



/* REVIEW-SECTION */

.review-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-section__wrapper {
  display: flex;
  gap: 10px;
}

.review-section__title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
}

.review-section__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

.review-section__separator {
  margin-left: 170px;
}

/* ADD-OPINION */



/* FOOTER */

.footer {
  background: #F2F2F2;
}

/* FOOTER-WRAPPER */

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* CONTACTS */

.contacts {
  padding: 30px 0;
}

.contacts__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.contacts__text {
  margin: 0;
}


/* Ошибки в формах */

.error {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  padding: 8px 20px;
  background: #DA4A0C;

  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.error_visiable {
  display: block;
}

@media (max-width: 1499px) {
  .content {
    max-width: 994px;
  }

  .product-images__image {
    height: 272px;
  }

  .product-card {
    gap: 40px;
  }

  .product-information__review-section {
    margin: 14px 0 30px 0;
  }

  .purchase {
    width: 360px;
  }

  .models {
    display: none;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  .star {
    width: 20px;
    height: 20px;
  }

  .add-review {
    padding: 0;
  }

  .review-section__separator {
    margin-left: 130px;
  }
}

@media (max-width: 1023px) {

  .content {
    max-width: 340px;
  }

  .header__favicon {
    height: 30px;
  }

  .header__title {
    margin: 8px 0 8px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  .header-panel {
    gap: 10px;
    align-self: center;
  }

  .header-icon {
    width: 30px;
    height: 30px;
  }

  .heart {
    width: 30px;
    height: 30px;
  }

  .cart {
    width: 30px;
    height: 30px;
  }

  .header__count-heart,
  .header__count-cart {
    top: -2px;
    right: -2px;
    padding: 0px 4px;
    font-size: 9px;
    line-height: 12px;
  }

  .breadcrumbs {
    padding: 65px 0px 8px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .product-name {
    padding: 0px 0px 10px;
  }

  .product-images {
    overflow-x: scroll;
  }

  .product-images::-webkit-scrollbar {
    width: 0;
  }

  .product-images__image {
    user-select: none;
    pointer-events: none;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ads {
    display: none;
  }

  .sidebar {
    order: 0;
  }

  .purchase {
    width: 340px;
  }

  .purchase__delivery {
    padding: 0;
  }

  .purchase__delivery {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .purchase-button {
    padding: 17.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .product-information {
    gap: 20px;
    order: 1;
  }

  .colors {
    flex-wrap: wrap;
  }

  .color-button {
    width: 60px;
    height: 60px;
    padding: 5px 0;
  }

  .characteristic__point {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    flex-wrap: wrap;
  }

  .product-information__title-characteristic {
    font-size: 14px;
    line-height: 17px;
  }

  .description__text-paragraph {
    font-size: 14px;
    line-height: 17px;
  }

  .product-information__review-section {
    margin: 20px 0 20px 0;
  }

  .review-section__list {
    margin-top: 20px;
    gap: 30px;
  }

  .review {
    position: relative;
    flex-direction: column;
    gap: 15px;
  }

  .review__photo {
    width: 60px;
    height: 60px;
  }

  .review__name {
    position: absolute;
    top: 0;
    left: 75px;
  }

  .review__rating {
    margin-top: 0px;
    position: absolute;
    top: 34px;
    left: 75px;
  }

  .review__parameter-list {
    margin-top: 0px;
  }

  .review-section__separator {
    margin-left: 0px;
  }

  .required-form {
    flex-direction: column;
    gap: 15px;
  }

  .field-rating {
    display: flex;
  }

  .input-rating {
    flex-grow: 1;
  }

  .review-content {
    gap: 15px;
  }

  .contacts__text {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts {
    padding: 20px 0;
  }
}