.review-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-review__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}

/* REQUIRED-FORM */

.required-form {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}