.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  margin-top: 80px;

  text-align: center;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1023px) {
  .content {
    max-width: 340px;
  }

  .main__content {
    font-size: 14px;
    line-height: 17px;
  }
}