.button-opinion {
  padding: 10px 20px;
  background: #F36223;
  border-radius: 4px;
  border: 0;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.button-opinion:hover {
  background: #DA4A0C;
  cursor: pointer;
}

.button-opinion:active {
  background: #A93A09;
}