.field-name {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.field-rating {
  position: relative;
}

/* INPUT-NAME */

.input-name {
  padding: 15px 20px;
  border: 1px solid #888888;
  flex-grow: 1;
}

.input-name:hover {
  border: 1px solid #000000;
}

.input-name:focus {
  border: 1px solid #000000;
  outline: 0;
}

.input-name::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

/* INPUT-RATING */

.input-rating {
  box-sizing: border-box;
  border: 1px solid #888888;
  width: 175px;
  padding: 15px 20px;
}

/* .input-rating_visiable {
  border: 1px solid #DA4A0C;
} */

.input-rating:hover {
  border: 1px solid #000000;
}

.input-rating:focus {
  border: 1px solid #000000;
  outline: 0;
}

.input-rating::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

/* INPUT-ERROR */

.input-error {
  border: 1px solid #DA4A0C;
}